<div class="wrapper">
  <div class="container">
    <div class="welcome">
      <p class="title">Welcome to HotDeskBooking app!</p>
      <img src="../../assets/images/workplace.svg" alt="hot-desk" />
      <p>Here you can book desk that you want work at for a specified time.</p>
    </div>
    <div class="login">
      <mat-tab-group
      animationDuration="0s"
      mat-align-tabs="center"
      >
        <mat-tab label="Login">
          <!-- <p>Login</p> -->
          <form [formGroup]="login">
            <mat-form-field>
              <mat-label>Login</mat-label>
              <input matInput type="text" formControlName="login" />
              <mat-icon matSuffix>account_circle</mat-icon>
              <mat-error *ngIf="login.invalid">{{getError("login")}}</mat-error>
            </mat-form-field>
            <mat-form-field>
              <mat-label>Password</mat-label>
              <input matInput type="password" formControlName="password" />
              <mat-icon matSuffix>vpn_key</mat-icon>
              <mat-error *ngIf="login.invalid">{{getError("password")}}</mat-error>
            </mat-form-field>
            <button
              mat-raised-button
              color="primary"
              [disabled]="login.invalid"
              [routerLink]="'main'">
              Login
            </button>
          </form>
        </mat-tab>
        <mat-tab label="Register">
          <form [formGroup]="register">
            <mat-form-field>
              <mat-label>First Name</mat-label>
              <input matInput type="text" formControlName="firstName">
              <mat-error *ngIf="register.invalid">{{getError("firstName")}}</mat-error>
            </mat-form-field>
            <mat-form-field>
              <mat-label>Last Name</mat-label>
              <input matInput type="text" formControlName="lastName">
              <mat-error *ngIf="register.invalid">{{getError("lastName")}}</mat-error>
            </mat-form-field>
            <mat-form-field>
              <mat-label>Login</mat-label>
              <input matInput type="text" formControlName="login">
              <mat-error *ngIf="register.invalid">{{getError("login")}}</mat-error>
            </mat-form-field>
            <mat-form-field>
              <mat-label>Password</mat-label>
              <input matInput type="password" formControlName="password">
              <mat-error *ngIf="register.invalid">{{getError("password")}}</mat-error>
            </mat-form-field>
            <mat-form-field>
              <mat-label>Repeat password</mat-label>
              <input matInput type="password" formControlName="repeatPassword">
              <mat-error *ngIf="register.invalid">{{getError("password")}}</mat-error>
            </mat-form-field>
            <button
              mat-raised-button
              color="primary"
              [disabled]="register.invalid"
              [routerLink]="">
              Register
            </button>
          </form>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>
